@import "fonts";
@import "sticky";

.brown {background: #cf7229;}
.blue {background: #699bfc;}
.yellow {background: #fee169;}
.green {background: #8bba29;}

.t-brown {color: #cf7229!Important;}
.t-blue {color: #699bfc!Important;}
.t-yellow {color: #f1d150!Important;}
.t-green {color: #8bba29!Important;}

$clr_button: #e54624;
$clr_button-orbit: #8bba29;
$clr_button-yellow: #fee169;

body {
  font-family: 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  line-height: normal;
}
body.ru-lang {
  font-family: 'Open Sans', sans-serif;
}
section {
  height: 100vh;
  border-bottom: 4px solid #eaf0f3;
  &:last-child {
    border-bottom: none;
  }
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
}
td, th {
  padding: 0;
  vertical-align: top;
}
.share-wrapper table {
  margin: 0 auto;
  padding-bottom: 10px;
}
.link {
  text-decoration: none;
  color: #87B822;
  &:hover {@extend .link;}
  &:focus {@extend .link;}
}
.link-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: #fee169;
  }
}
.signature {
  text-align: right;
  display: block;
  padding-top: 10px;
}
/**** ru container ****/
.ru-lang {
  .my-button,
  .card-container .my-button,
  .card-container input.disabled,
  .card-container input.submit {
    font-family: inherit;
    font-weight: 700;
  }
  .header-card .link-down {
    font-size: 20px;
  }
  .nav li {
    font-weight: 700;
    font-family: inherit;
  }
  .section-one .description {
    font-family: inherit;
  }
  .section-two h2 {
    font-size: 26px;
    line-height: inherit;
    font-weight: 700;
  }
  .section-two .box p {
    font-weight: 400;
  }
  .playing-cards {
    font-weight: 700;
    font-family: "Helvetica Neue", sans-serif;
  }
  .orbit-container .my-button, .orbit-container input.disabled, .orbit-container input.submit {
    width: auto;
    padding: 0 15px;
  }
  .orbit-container {
    height: auto!important;
  }
  .orbit-slide {
    max-height: 100%!important;
  }
}
/**** ru container end ****/
/**** BUTTON , input.disabled, .submit ****/
.my-button {
  width: 285px;
  height: 68px;
  color: white;
  font-family: "Helvetica Neue Bold", sans-serif;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  line-height: 66px;
  border: none;
  background: $clr_button;
  &:hover {
    background: $clr_button * 1.5;
    transition: all 0.3s;
  }
  &:active {
    background: $clr_button / 1.5;
  }
  &.position {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    margin-left: (-285px/2);
  }
}
.card-container {
  .my-button, input.disabled, input.submit {
    width: 285px;
    height: 68px;
    color: white;
    font-family: "Helvetica Neue Bold", sans-serif;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    line-height: 66px;
    border: none;
    background: $clr_button;
    position: absolute;
    bottom: 20vh;
    left: 50%;
    margin-left: (-285px/2);
    &:hover {
      background: $clr_button * 1.5;
      transition: all 0.3s;
    }
    &:active {
      background: $clr_button / 1.5;
    }
  }
  input.disabled {
    width: 400px;
    margin-left: (-400px/2);
  }
}
.my-button-nav {
  width: 210px;
  height: 50px;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 50px!important;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
  &:active {
    color: white;
  }
}
.orbit-container {
  .my-button, input.disabled, input.submit {
    width: 260px;
    height: 60px;
    color: white;
    font-family: 'Gotham Rounded Bold', sans-serif;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    border: none;
    background: $clr_button-orbit;
    margin: 0 auto;
    margin-top: 5vh;
    &:hover {
      background: $clr_button-orbit * 1.2;
      transition: all 0.3s;
    }
    &:active {
      background: $clr_button-orbit / 1.5;
    }
  }
  input.disabled {
    width: auto;
  }
}
.mimi_field {
  display: inline;
}
/**** lang_panel ****/
.language-wrapper {
  .active {
    display: block!important;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .en {
    width: 35px;
    height: 35px;
    display: none;
    background: url(../img/world.svg)!Important;
  }
  .ru {
    background: url(../img/russia.svg)!Important;
    width: 35px;
    height: 35px;
    display: none;
  }
  &:hover .not-active {
    display: block;
  }
}

/**** HEADER ****/
.header {
  background: url("../img/icons-landing-color.png");
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  -moz-perspective: 1000px;
  .language {
    position: absolute;
    top: 10px;
    right: 50px;
    font-family: 'Helvetica Neue Medium', sans-serif;
    z-index: 10;
    a {
      display: block;
      float: left;
      color: black;
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .active {
      width: 38px;
      height: 38px;
    }
  }
}
.card-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 50px 15% 20px;
}
.flipper-card-container {
  position: relative;
  height: 100%;
  width: 100%;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-card {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: white;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  .logo {
    position: relative;
    display: inline-block;
    img {
      padding-top: 20px;
      height: 36vh;
    }
    span {
      position: absolute;
      right: -80px;
      bottom: 40px;
      color: #eb3d00;
      font-family: "Helvetica Neue Bold", sans-serif;
      font-size: 30px;
    }
  }
  .link-down {
    position: absolute;
    bottom: 8vh;
    color: black;
    width: 200px;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    border: 2px solid black;
    box-sizing: border-box;
    background: $clr_button-yellow;
    line-height: 45px;
    &:hover {
      background: $clr_button-yellow * 1.2;
      transition: all 0.3s;
      transform: scale(1.1);
    }
    &:active {
      background: $clr_button-yellow / 1.5;
    }
  }
}
.card-main-text {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 30px;
  line-height: inherit;
  font-family: "Helvetica Neue", sans-serif;
  span {
    color: #cf7229;
    font-weight: bold;
    display: inline-block;
  }
  .special {
    color: #699bfc;
  }
  &.position {
    padding-top: 40vh;
  }
}
.card-form {
  padding: 10% 10% 0 10%;
  .name, .email, input.required {
    width: 250px;
    border: 0px;
    border-bottom: 2px solid black;
    box-shadow: none;
    font-family: 'Handwriting', sans-serif;
    font-size: 36px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .email {
    width: 350px;
  }
}
.card-one {
  transform: rotateY(0deg);
  z-index: 2;
  backface-visibility: hidden;
  overflow: hidden;
}
.card-two {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.card-three, .card-bottom {
  opacity: 0;
  visibility: hidden;
}
.card-three-show {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
/****  ANIMATION ****/
.rotate-one {
  transform: rotateY(180deg);
  transition: all 1s;
  z-index: 0;
}
.rotate-two {
  transform: rotateY(360deg);
  transition: all 1s;
}
.rotate-two-off-screen {
  animation: offScreen 1s linear;
}
@keyframes offScreen {
  0% { transform: rotate(0deg) translateX(0) rotate(0deg); }
  70% { opacity: 0;}
  100%{ transform: rotate(-80deg) translateX(1500px) rotate(80deg); }
}
/****  ANIMATION END  ****/
.arrow_box {
  position: absolute;
  bottom: 10px !important;
  right: 50%;
  width: 40px;
  height: 20px;
  margin-right: -20px;
  box-sizing: border-box;
  &:hover {
    transition: all 0.3s;
    transform: scale(1.2);
  }
}
.arrow_box:after, .arrow_box:before {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 14px;
  margin-left: -14px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 20px;
  margin-left: -20px;
  display: block;
}
/**** NAV ****/
.nav {
  z-index: 9999;
  box-sizing: content-box;
  &> div {
    background: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  .top-bar {
    background: white;
    padding: 5px 0;
    & ul {
      background: white;
      display: table;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
  & li {
    font-family: "Helvetica Neue Bold", sans-serif;
    font-size: 30px;
    //padding-right: 32px;
    display: table-cell;
    //text-align: center;
    padding: 0;
    margin: 0;
    &:last-child {
      //padding-right: 0;
    }
    & a {
      padding: 0;
      display: inline-block;
    }
    & a.games,
    & a.fiends,
    & a.how-it-works {
      margin: 0 20px;
    }
  }
  .games {
    color: #cf7229;
    &:hover {
      border-bottom: 7px solid #cf7229;
      transition: all 0.1s linear;
    }
    &.active {
      border-bottom: 7px solid #cf7229;
    }
  }
  .fiends {
    color: #699bfc;
    &:hover {
      border-bottom: 7px solid #699bfc;
      transition: all 0.1s linear;
    }
    &.active {
      border-bottom: 7px solid #699bfc;
    }
  }
  .how-it-works {
    color: #fddc54;
    &:hover {
      border-bottom: 7px solid #fddc54;
      transition: all 0.1s linear;
    }
    &.active {
      border-bottom: 7px solid #fddc54;
    }
  }
  .values {
    color: #8bba29;
    &:hover {
      border-bottom: 7px solid #8bba29;
      transition: all 0.1s linear;
    }
    &.active {
      border-bottom: 7px solid #8bba29;
    }
  }
}
.nav li img {
  height: 50px;
}
.title-bar {
  background: #ffffff;
  .menu-icon {
    background: black;
    height: 21px;
  }
}
.sticky.is-stuck {
  border-top: none;
}
/**** SECTION ONE ****/
.section-one {
  padding: 6vh 0;
  .description {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
}
/**** SECTION TWO ****/
.section-two {
  .columns {
    text-align: center;
  }
  .box {
    box-sizing: border-box;
    border-radius: 200px 200px 10px 10px;
    font-size: 26px;
    width: 306px;
    margin: 0 auto;
    height: 480px;
    p {
      line-height: normal;
      font-family: 'Gotham Rounded', sans-serif;
      font-weight: 700;
      font-size: 22px;
      padding: 0 15px;
      padding-bottom: 10px;
    }
  }
  h2 {
    font-family: 'Gotham Rounded Bold', sans-serif;
    font-size: 28px;
    color: black;
    padding: 0 10px;
    padding-top: 10px;
    margin: 0;
  }
  img {
    height: 30vh;
    padding-bottom: 20px;
  }
  .circle {
    width: 300px;
    height: 300px;
    border: 4px solid;
    border-radius: 150px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    img {
      position: relative;
      top: -11px;
      left: -1px;
      height: 325px;
      width: auto;
      max-width: none;
    }
    .jewel {
      top: -4px;
      left: -7px;
    }
    .gamefriends {
      top: -21px;
      left: -21px;
      height: 335px;
    }
  }
}

/**** SECTION THREE ****/
.section-three {
  background: white;
  padding: 70px 0;
  .description {
    text-align: right;
    font-size: 22px;
    padding: 20px 100px;
    border: 3px solid #8bba29;
    background: #c6e875;
    border-radius: 15px;
  }
}
/**** SECTION FOUR ****/
.section-four {
  background: white;
  padding: 3vh 0;
  .description {
    text-align: center;
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif;
    span {
      display: block;
      text-align: center;
      padding-bottom: 20px;
      font-size: 30px;
      font-family: 'Gotham Rounded Bold', sans-serif;
    }
  }
}
/**** SECTION FIVE ****/
.section-five {
  padding: 0;
}
.playing-cards-wrapper {
  position: relative;
  margin: 0 auto;
  width: 360px;
  height: 450px;
}
.playing-cards {
  position: absolute;
  width: 360px;
  height: 450px;
  z-index: 999;
  font-family: "Helvetica Neue Bold", sans-serif;
  border: 2px solid;
  border-radius: 15px;
  background: url(../img/logo-play-card.jpg) no-repeat 0px 20px, white;
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    margin-left: 10px;
  }
  span {
    display: block;
  }
  .avatar {
    width: 200px;
    height: auto;
    display: block;
    padding-top: 20px;
    position: absolute;
    right: 10px;
  }
  .name {
    font-size: 22px;
  }
  .my-label {
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 5px;
    padding-bottom: 3px;
    color: black;
    margin-bottom: 2px;
    line-height: 22px;
  }
  .head {
    font-size: 18px;
    padding: 5px 0;
  }
  img {
    width: 33.33333%;
    height: 100%;
    display: inline-block;
    float: right;
  }
  .data {
    padding: 10px;
  }
  .games {
    position: absolute;
    bottom: 0;
    height: 60px;
  }
  .foot {
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 65px;

  }
  .small-ico {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    &.mouse {
      //background: url(../img/mouse.png) no-repeat;
      background: url(../img/07.png) no-repeat, #8bba29;
      background-size: contain;
      width: 26px;
      height: 34px;
    }
    &.cube {
      //background: url("../img/cube.png") no-repeat;
      background: url("../img/05.png") no-repeat, #8bba29;
      background-size: contain;
      width: 38px;
      height: 34px;
    }
  }
  div div.head {
    padding: 0 24px;
    p {
      font-size: 16px;
    }
  }
}
/**** SECTION SLIDESHOW ****/
.section-slideshow {
  background: url("../img/icons-landing-color.png");
  padding: 50px 0;
  .wrapper {
    padding: 0 100px;
    text-align: center;
  }
  .card-form {
    padding: 0 10%;
  }
  .card-main-text {
    padding-top: 0;
    line-height: normal;
  }
}
.orbit-previous, .orbit-next {
  color: black;
}
.orbit {
  background: white;
  padding: 20px 100px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  p {
    padding-top: 5px;
    margin: 0;
  }
  span {
    display: block;
    padding-bottom: 0;
  }
  img {
    height: 120px;
    border-radius: 75px;
    border: 1px solid;
    margin-top: 20px;
  }
  & h3 {
    margin: 0;
    line-height: normal;
  }
  .card-bottom {
    position: absolute;
    top: 45%;
    width: 100%;
  }
  .bottom {
    padding-bottom: 10px;
  }
}
.orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
  background-color: rgb(254, 225, 105);
}

/**** SECTION FOOTER ****/
.footer {
  background: #38171e;
  padding: 20px 0;
  color: white;
  text-align: center;
  .wrapper-ico {
    text-align: center;
    color: white;
    font-size: 26px;
    padding-bottom: 20px;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  ul {
    list-style: none;
    text-align: center;
  }
  li {
    display: block;
    font-size: 16px;
  }
  a {
    color: white;
  }
  i {
    color: white;
    font-size: 30px;
  }
  .icon-blogger {
    font-size: 26px;
  }
  .icon-blogger:hover {
    color: #fee169;
    transition: all 0.5s;
  }
  .icon-facebook:hover {
    color: #699bfc;
    transition: all 0.5s;
  }
  .icon-instagram:hover {
    color: #cf7229;
    transition: all 0.5s;
  }
  .icon-vkontakte:hover {
    color: #fee169;
    transition: all 0.5s;
  }
}
.share-wrapper {
  table {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  tbody {
    background: #38171e;
    border: none;
  }
  *, *::before, *::after {
    box-sizing: content-box;
  }
  .vkshare {
    table tbody th, table tbody td {
      padding: 0;
    }
  }
  .fb_iframe_widget span {
    height: 22px!important;
  }
}
@import "mediaqueri";