doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            | GameTree
        //link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.min.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/main.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fonts.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fontello.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/animate.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/dropdown-lang.css")
        link(rel='icon', type='image/x-icon', href='img/favicon.ico?v1')
    body
        <!-- HEADER -->
        header.header(data-magellan, data-bar-offset='-30')
            .language
                //- Hide flag option that’s already selected and make others hidden until acted upon. Mouseover on web, click on mobile.
                select#cd-dropdown.cd-select(name='cd-dropdown')
                    option(value='-1', selected='')
                    option.ru(value='1')
                    //option.en(value='2')
            .row
                .card-container
                    .flipper-card-container
                        .header-card.card-one
                            a.link.logo.bounceInLeft.animated(href="#")
                                img(src='img/logo-header.png')
                                span Beta
                            .card-main-text.bounceInRight.animated
                                | Discover&nbsp;
                                span games
                                | &nbsp;you will like.
                                br
                                | Experience them with&nbsp;
                                span.special friends
                                | .
                            #button-one.my-button.position.fadeIn.animated SECURE MY SPOT
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            .arrow_box.show-for-large-only
                        .header-card.card-two
                            .card-main-text
                                form.card-form
                                    | I,
                                    input.name(type='text' placeholder='(your name)')
                                    | , would like to journey forth
                                    | forth into this new world of games. Please send my
                                    | invite to @
                                    input.email(type='text' placeholder='(your email)')
                                    | .
                            #button-two.my-button.position SECURE MY SPOT
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            .arrow_box.show-for-large-only
                            //- (allow click like How it Works and make it grow on hover). Both should go to top of page (a little offset now)
                    .header-card.card-three
                        .card-main-text.position
                            | Thank you for joining us!
                        a.link.link-down.my-button(href="#nav")
                            | How It Works
                        .arrow_box.show-for-large-only
        //- Nav should stick after top touches top of screen, not bottom. Make everything about 5px shorter
        nav#nav.nav(data-sticky-container='', data-magellan, data-bar-offset='100', data-threshold='')
            div(data-sticky='',data-sticky-on='small', data-top-anchor="nav", data-options='marginTop:0;', style='width:100%')
                .row
                    .title-bar(data-responsive-toggle='my-menu', data-hide-for='large')
                        button.menu-icon(type='button', data-toggle='')
                        .title-bar-title Menu
                    #my-menu.top-bar
                        ul.dropdown.menu(data-dropdown-menu='')
                            li
                                a.link
                                    img(src='img/logo-nav.png')
                            li
                                a.link.games(href='#about') About
                            li
                                a.link.fiends(href='#blog') Blog
                            li
                                a.link.how-it-works(href='#contact-us') Contact Us
                            li
                                .my-button.my-button-nav SECURE MY SPOT
        section#section-one(data-magellan-target="section-one")
            .row.section-one
                .columns.description
                    i
                        | “GameTree is about maximizing your fun by getting to know
                        | who you are as a person and connecting you with the people
                        | and experiences you didn’t even know you craved.”
                    span.signature John Uke, GameTree
            .row.section-two
                .large-4.columns
                    a.link
                        img(src='img/icons_advice.png')
                    .box.blue
                        h2 Personalized Advice
                        p
                            | Read reviews from your most relevant
                            | friends and people like you.
                .large-4.columns
                    a.link
                        img(src='img/icon_jewel.png')
                    .box.brown
                        h2 Hidden Gems
                        p
                            | Discover new games and genres you will
                            | like but would otherwise never know about.
                .large-4.columns
                    a.link
                        img(src='img/icon_gamefriends.png')
                    .box.yellow
                        h2 Game With Friends
                        p
                            | Find out which of your friends are interested
                            | in the same game as you, or meet new ones.
        section
            .row.section-four
                .description
                    span
                        strong How It Works&nbsp;
                    | Without getting too technical (unless, that`s your
                    | thing then,&nbsp;
                    a.link.link-underline(href='') here you go
                    | ), GameTree leverages your
                    | tastes, personality, and friend network to offer
                    | personal recommendations that are
                    i
                        strong &nbsp;65% more accurate&nbsp;
                    | than user-voted averages.
            .row.section-five
                //- these will have new style with text filled boxes connected to image circles (check Skype)
                .playing-cards-wrapper
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                        div
                            div.head Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Likes
                                p
                                    u Competition
                                    |,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    |,&nbsp;
                                    u enthusiasm
                                    |, and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
        section.section-slideshow
            //- add flip over functionality on submit as 1st page
            .row
                .wrapper
                    .orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='')
                        ul.orbit-container
                            .card-three
                                .card-main-text.position
                                    | Thank you for joining us!
                            li.orbit-slide.active
                                div
                                    .card-main-text
                                        form.card-form
                                            | I,
                                            input.name(type='text' placeholder='(your name)')
                                            | , would like to journey forth
                                            | forth into this new world of games. Please send my
                                            | invite to @
                                            input.email(type='text' placeholder='(your email)')
                                            | .
                                            //input(type='submit' value="Journey With Us")
                                    #button-three.my-button.my-button-orbit Journey With Us
                                    img(src='img/Jesse-Schell-Casual-Headshot.jpg')
                                    p.text-center
                                        i
                                            | “GameTree has the potential to be a revolutionary social
                                            | network that is based both on the secrets of player psychology
                                            | and our deep love of games.”
                                    h3.text-center Jesse Schell
                                    span
                                        //- bottom of this line is getting cut off
                                        i
                                            | CEO of
                                            a.link.link-underline(href="https://www.schellgames.com/about")
                                                | &nbsp;Schell Games&nbsp;
                                            //- Link to https://www.schellgames.com/about + green styling on all body links
                                            | and Author of
                                            a.link.link-underline(href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1")
                                                | &nbsp;The Art of Game Design&nbsp;
                                            //- Link to https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1
                        //- Will be an automatic slideshow and only to the testimonials so don't need buttons
                        //- button.orbit-previous
                        //-     span.show-for-sr Previous Slide
                        //-     |  ◀︎
                        //- button.orbit-next
                        //-     span.show-for-sr Next Slide
                        //-     |  ▶︎
        footer.footer
            .row
                .wrapper-ico
                    span Follow as on:&nbsp;
                    a.link(href='' target="_blank")
                        i.icon-blogger
                    a.link(href='https://www.facebook.com/gametreetribe/' target="_blank")
                        i.icon-facebook
                    a.link(href='' target="_blank")
                        i.icon-instagram
                    a.link(href='' target="_blank")
                        i.icon-vkontakte
            //- green link color on hover
            .row
                .large-8.large-centered
                    .large-4.columns
                        ul
                            li
                                strong Learn
                            li
                                a.link(href='#about' target="_blank") About
                            li
                                a.link(href='#blog' target="_blank") Blog
                            li
                                a.link(href='#contact-us' target="_blank") Our Journey
                            li
                                a.link(href='#contact-us' target="_blank") Privacy Policy
                    .large-4.columns
                        ul
                            li
                                strong Engage
                            li
                                a.link(href='#about' target="_blank") Promote
                            li
                                a.link(href='#blog' target="_blank") Jobs
                            li
                                a.link(href='#contact-us' target="_blank") Developers
                            li
                                a.link(href='#contact-us' target="_blank") Contact
                    .large-4.columns
                        ul
                            li
                                strong Business
                            li
                                a.link(href='#about' target="_blank") Press
                            li
                                a.link(href='#blog' target="_blank") Invest
                            li
                                a.link(href='#contact-us' target="_blank") Opportunities
                            li
                                a.link(href='#contact-us' target="_blank") Store Owners
            .row
                span
                    | © Copyright&nbsp;
                    script(type="text/javascript")
                        | document.write(new Date().getFullYear());
                    | &nbsp;GameTree PBC.
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/foundation.js")
    script(type="text/javascript", src="js/velocity.min.js")
    script(type="text/javascript", src="js/modernizr.custom.63321.js")
    script(type="text/javascript", src="js/jquery.dropdown.js")
    script(type="text/javascript", src="js/app.js")
