@media screen and (max-width: 900px) {
  .header-card .logo span {
    position: relative;
    right: 0;
    top: 0;
    font-size: 20px;
    display: block;
  }
  .header-card .main-text {
    font-size: 22px;
    line-height: 22px;
    padding: 5% 10% 0 10%;
  }
}
/* 400px */
@media screen and (max-width: 25.000em) {
  .section-five {
    //transform: scale(0.65);
  }
  .playing-cards-wrapper {
    width: 100%;
  }
  .playing-cards {
    width: 100%;
  }
  .playing-cards .avatar {
    width: 50vw;
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .section-two .box {
    //padding: 5px 20px;
    //border: 4px solid black;
    //border-radius: 10px;
    font-size: 20px;
    //height: 220px;
    margin-bottom: 30px;
  }
  .share-wrapper td {
    display: inline-block;
  }

}

/* Medium and up 640 */
@media screen and (min-width: 40em) {}

/* от 0 до 750px */
@media screen and (max-width: 46.875em) {
  .my-accordion-item {
    padding: 0;
    h2 {
      font-size: 7vw;
      border-radius: 0px;
      position: initial;
      padding-right: 0;
      display: block;
      padding: 0;
    }
  }
  .my-accordion-item.right h2 {
    float: none;
    border-radius: 0px;
    padding-left: 0;
  }
  .header-card .logo img {
    padding: 20px 20px 0 20px;
    width: 100%;
    height: auto;
  }
  .card-container .my-button,
  .card-container input.disabled,
  .card-container input.submit {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 40px;
    border-radius: 0;
    bottom: 13vh;
    left: 0;
    margin-left: 0;
  }
  //.my-button.position, input.disabled, .submit {
  //  bottom: 13vh;
  //  left: 0;
  //  margin-left: 0;
  //}
  .card-form {
    padding: 5% 5% 0 5%!important;
  }
  .header-card .link-down {
    bottom: 10px;
  }
  .section-slideshow .wrapper {
    padding: 0 10px!important;
  }
  .orbit-container input.disabled {
    width: auto;
    font-size: 15px;
  }
}

/* от 0 до 1024px */
@media screen and (max-width: 63.9375em) {
  section {
    height: auto;
  }
  .nav li img {
    height: auto;
  }
  .nav .top-bar ul {
    display: block;
    position: absolute;
    width: 150px;
    border-right: 5px solid;
    border-bottom: 5px solid;
    padding: 5px;
    border-radius: 0 0 10px 0;
  }
  .nav li {
    display: block;
    margin-top: 5px;
  }
  .nav li a {
    padding: 5px;
    display: block;
    border-bottom: 7px solid white;
  }
  .nav .top-bar {
    padding: 0;
  }
  .my-button-nav {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px 0;
    line-height: normal;
  }
  .section-two .columns {
    //padding: 20px;
  }
  .section-four {
    padding: 3vh 3vw;
  }
  .section-five {
    padding: 20px 0;
  }
  .card-form {
    padding: 10% 15% 0 15%;
  }
  .card-main-text {
    font-size: 24px;
    line-height: normal;
  }
  .card-form .name, .card-form .email, .card-form input.required {
    font-size: 24px;
    width: 95%;
  }
  .section-slideshow .wrapper {
    padding: 0 50px;
  }
  .orbit {
    padding:10px 0;
  }
}
/* Medium only 640-1024 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up 1024*/
@media screen and (min-width: 64em) {
  .orbit-container {
    & .mimi_field.last {
      font-size: 32px;
    }
  }
}

/* Large only 1024-1200 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .nav li {
    font-size: 2.3vw;
  }
  section {
    height: auto;
  }
  .orbit {
    padding: 20px 0;
  }

}